<div class="row mt-5">
  <div class="col-6">
    <img src="https://cdn.prod.website-files.com/6364b6fd26e298b11fb9391f/6364b6fd26e29841eeb93c69_631843eb4387fd3c3f47b319_DrawKit0031_People_%2526_Technology_Banner.png" alt="" width="100%">
  </div>
  <div class="col-6 mt-5">
    <form>
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="form1Example1" class="form-control" />
        <label class="form-label" for="form1Example1">Email address</label>
      </div>
    
      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="form1Example2" class="form-control" />
        <label class="form-label" for="form1Example2">Password</label>
      </div>
    
      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
            <label class="form-check-label" for="form1Example3"> Remember me </label>
          </div>
        </div>
    
        <div class="col">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>
    
      <!-- Submit button -->
      <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Sign in</button>
    </form>
  </div>
</div>