<div class="row container-fluid">
    <div class="col-6 mt-4">
        <h4 id="header">Register Here</h4>
       
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                  <input (change)="firstNameChange($event)"
                   type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1">First name</label>
                </div>
              </div>
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                  <input #lastName name="lastName" type="text" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2">Last name</label>
                </div>
              </div>
            </div>
          
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Email address</label>
            </div>
          
            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="password" id="form3Example4" class="form-control" />
              <label class="form-label" for="form3Example4">Password</label>
            </div>
          
            <!-- Submit button -->
            <button (click)="register()"
             data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4 w-100" >Sign up</button>
            <div style="text-align: center;"> 
              <a routerLink="/login" >Please login if you have an account</a>
            </div>
            <!-- Register buttons -->
             <button (click)="getLastName(lastName)"> get here</button>
             <h6>{{firstName}} </h6> <h5>{{LastName}}</h5>
             <!-- stringinterploation -->
            
         
    </div>
    <div class="col-6">
        <img src="https://png.pngtree.com/png-clipart/20241127/original/pngtree-cartoon-happy-team-png-image_17335758.png" alt="" width="100%">
    </div>
</div>